:root {
    --bg-color: #ddd;
    --text-color: black;
    --muted-text-color: #555;
    --button-bg-color: #d0d0d0;
    --hovered-button-bg-color: #bbb;
    --field-border-color: #4a90d9;
}
.dark {
    --bg-color: #222;
    --text-color: white;
    --muted-text-color: #ccc;
    --focus-outline-color: #0df;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 1rem;
    text-align: center;
    line-height: 1.5;
}

header {
    color: var(--muted-text-color);
}
header img {
    vertical-align: middle;
}
h1 {
    font-size: 1.75rem;
    margin-top: .25rem;
    margin-bottom: 1rem;
}

main {
    margin-bottom: 2.5rem;
}

input {
    display: inline-block;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: .5rem;
    padding: 8px 0;
    border: 1px solid var(--field-border-color);
    text-align: center;
    font-size: large;
}

button {
    display: inline-block;
    min-width: 160px;
    background-color: var(--button-bg-color);
    margin-bottom: 1rem;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: large;
}
button:hover {
    background-color: var(--hovered-button-bg-color);
    color: black;
}

.dark :focus {
    outline: 2px solid var(--focus-outline-color);
}

kbd {
    padding: 0 3px;
    border: 1px solid currentColor;
    border-radius: 3px;
}
