body {
  /* background-color: black;
  color: white; */
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

/* #content {
  display: flex;
}

aside {
  width: 20rem;
}

.sticky-top {
  position: sticky;
  top: .5rem;
} */

h1, h2, h3, h4, p {
  margin-top: 0;
}
h1, h2 {
  margin-bottom: 2rem;
}
kbd {
  font-size: larger;
}
img {
  vertical-align: middle;
}

.button {
  background-color: #ccc;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button img {
  width: 90%;
}

.row { display: flex; }
.equal-col > .col { flex: 1; }

.collapse-box {
  display: block;
  cursor: pointer;
}
.collapse-head {
  transition: color .2s;
}
.collapse-arrow {
  transition: all .2s;
}
.collapse-hide:checked ~ .collapse-body {
  display: none;
}
.collapse-hide:checked ~ .collapse-head {
  color: var(--borderc-base);
}
.collapse-hide:checked ~ .collapse-head > .collapse-arrow {
  transform: rotate(.5turn);
  border-bottom-color: var(--borderc-base);
}
.arrow-up {
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 12px solid black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin: 0 5px;
}

button.settingsBtn {
  border-radius: 2px;
  padding: 2px 5px;
  line-height: 1;
}

.bordered-box {
  border: 3px solid var(--borderc-base);
  padding: 1rem;
  border-radius: 1rem;
}
.bordered-left {
  border-left: 3px solid var(--borderc-base);
}

.fg-private { color: var(--fgc-private); }
.bg-private { background-color: var(--bgc-private); color: white; }

.lastchild-mb-0 > :last-child { margin-bottom: 0; }
.flex-grow { flex-grow: 1; }
.m-0 { margin: 0; }
.mr-1 { margin-right: 1rem; }
.mx-1 { margin-left: 1rem; margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-5 { margin-bottom: 5rem; }
.pt-2 { padding-top: 2rem; }
.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.ai-center { align-items: center; }
.center { text-align: center; }
.small { font-size: small; }
.bold { font-weight: bold; }
.unbold { font-weight: normal; }
