body {
    padding: 1rem;
    font-size: larger;
    background-color: var(--page-bg-color);
    color: var(--text-color);
}
:focus-visible {
    outline: 2px solid var(--accent-color);
}

fieldset {
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
legend {
    font-weight: bold;
}

label {
    display: flex;
    align-items: flex-start;
    margin-bottom: .5rem;
    gap: .3rem;
}
.inline-fields > label {
    display: inline-flex;
    margin-right: 1rem;
}

.affixField {
    width: 3.5rem;
    text-align: center;
}

hr {
    margin: 1rem 0;
}

p {
    margin: 0 0 .5rem;
}
cite {
    font-weight: bold;
}

button {
    padding: .25rem 2rem;
    border-radius: 4px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.muted { opacity: .5; }


/* Dark theme */

.dark fieldset {
    border-color: #555;
}