body {
    padding: 1rem;
    font-size: larger;
}

fieldset {
    margin-bottom: 1rem;
    border-radius: .5rem;
}
legend {
    font-weight: bold;
}

label {
    display: flex;
    align-items: flex-start;
    margin-bottom: .5rem;
}
input {
    margin-left: 0;
    margin-right: .5rem;
}
.inline-fields > label {
    display: inline-flex;
    margin-right: 1rem;
}

p {
    margin: 0 0 .5rem;
}

button {
    padding: .25rem 2rem;
    border-radius: 2px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.ml-1 { margin-left: 1rem; }
.muted { opacity: .5; }


/* Dark theme */

.dark {
    background-color: #23222b;
    color: white;
    accent-color: #0ff;
}
.dark fieldset {
    border-color: #555;
}
.dark :focus {
    outline: 2px solid #0df;
}
.dark a {
    color: #0df;
}
.dark button {
    background-color: #ccc;
}
