body {
    padding: 1rem;
    font-size: larger;
    background-color: var(--page-bg-color);
    color: var(--text-color);
}
:focus-visible {
    outline: 2px solid var(--accent-color);
}

fieldset {
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
legend {
    font-weight: bold;
}

label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: .3rem;
}
label small {
    font-style: italic;
}

.group {
    margin-bottom: 1rem;
}
.group label {
    margin-bottom: .5rem;
}

select, input[type="text"] {
    margin-bottom: -.5rem;
}
.smallField {
    width: 3.5rem;
    text-align: center;
}

hr {
    margin: 1rem 0;
}

p {
    margin: 0 0 .5rem;
}
cite {
    font-weight: bold;
}

button {
    padding: .25rem 2rem;
    border-radius: 4px;
}
#restart {
    white-space: nowrap;
}
#restart img {
    vertical-align: bottom;
}

.muted { opacity: .5; } /* Used in options.js */
.flex { display: flex; }
.gap { gap: 1rem; }
.indent { margin-inline-start: 2rem; }

.success::after {
    top: 1.5ex;
    right: 0;
}

/* Dark theme */

.dark fieldset {
    border-color: #555;
}