/*
Test list:
- Hover, clicks
- Focus, keyboard nav
- Filtering
- Slash command
- Private window
- Edit mode
- Edit mode error
- Light and dark themes
*/

/* * { outline: 1px solid red; } */
:root {
    --button-count: 0;
    --tabcount-width: 2rem;
    --popup-width: calc(var(--button-count) * var(--popup-button-size) + 20rem + var(--tabcount-width));
    --max-list-height: 30rem;

    --tick-size: 15px;
    --tick-end-offset: 4rem;

    scrollbar-width: none;
}

/* Focus ring */
:focus-visible,
#currentWindow .name:focus,
#omnibox:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}


/* --- Container --- */

body {
    width: var(--popup-width);
    background-color: var(--popup-row-color);
    color: var(--text-color);
}

ul {
    margin: 0;
    padding: 0;
}

#otherWindows {
    max-height: var(--max-list-height);
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;

    /* Scroll shadows */
    background:
        linear-gradient(var(--popup-row-color) 30%, transparent),
        linear-gradient(transparent, var(--popup-row-color) 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), transparent),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), transparent) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 14px, 100% 14px, 100% 7px, 100% 7px;
}


/* --- Row --- */

li {
    display: flex;
    align-items: center;
    position: relative;
    height: var(--popup-row-height);
    width: auto;
    scroll-snap-align: start;
    border: 2px solid transparent;
    list-style: none;
}

li > * {
    flex: 0 0 auto;
}

.tabCount {
    width: var(--tabcount-width);
    margin: 0 .8rem;
    color: var(--muted-text-color);
    text-align: end;
}

body:not([data-mode="edit"]) #otherWindows li:hover {
    background-color: var(--popup-hover-row-color);
}

.heading {
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
    height: var(--popup-heading-height);
    background-color: var(--popup-row-color) !important;
}
.heading > hr {
    width: 97%;
    margin: .5rem 0 .4rem;
    border: .5px solid var(--muted-text-color);
}
.heading::after {
    content: attr(data-heading);
    position: absolute;
    background-color: var(--popup-row-color);
    color: var(--muted-text-color);
    padding: 0 2px;
    font-size: 95%;
}


/* --- Input field (Omnibox and name) --- */

input {
    border: 2px solid transparent;
    padding: 0 6px;
    text-align: start;
    background-color: var(--popup-field-color);
    color: var(--text-color);
}

input:read-only {
    cursor: default;
}


/* --- Name field --- */

.name {
    height: var(--popup-name-height);
    flex-grow: 1;
    border-radius: var(--border-radius);
    margin-left: .25rem;
}

body:not([data-mode="edit"]) .name {
    background-color: transparent;
    border-color: transparent;
    user-select: none;
}

body:not([data-mode="edit"]) .name::selection {
    background-color: transparent;
}

body:not([data-mode="edit"]) #currentWindow .name {
    font-weight: bold;
}

/* Pencil icon to indicate clickable name */
body:not([data-mode="edit"]) #currentWindow .tabCount::before {
    display: none;
    pointer-events: none;
    content: "✎";
    position: absolute;
    right: calc(2rem + var(--tabcount-width));
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    font-size: 1.5rem;
}
body:not([data-mode="edit"]) #currentWindow .name:hover {
    background-color: var(--popup-hover-row-color);
    cursor: pointer;
}
body:not([data-mode="edit"]) #currentWindow .name:is(:hover, :focus) + .tabCount::before {
    display: block;
}

.private .name {
    color: var(--private-text-color);
}

.success {
    position: relative;
}
.success::after {
    content: "✓";
    position: absolute;
    right: var(--tick-end-offset);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--tick-size);
    width: var(--tick-size);
    border-radius: 50%;
    background-color: var(--success-color);
    color: var(--popup-field-color);
    animation: shrink-away .2s .8s forwards;
}
@keyframes shrink-away {
    to { transform: scale(0); }
}

.error {
    border-color: var(--danger-color) !important;
}


/* --- Omnibox --- */

#omnibox {
    height: var(--popup-row-height);
    width: 100%;
    border-color: transparent var(--popup-border-color);
}
#omnibox::placeholder {
    opacity: .33;
}

.slashCommand {
    color: var(--accent-color);
    font-weight: bold;
}
.slashCommand::selection {
    color: var(--popup-field-color);
    background-color: var(--accent-color);
}


/* --- Button --- */

button {
    background-color: transparent;
    opacity: .7;
}

button:hover,
body:not([data-mode="edit"]) li button:focus {
    background-color: var(--popup-hover-button-color);
    background-size: 97%; /* Counteract shrinkage caused by focus-ring border, but also a nice hover effect */
    opacity: 1;
}

li button {
    width: var(--popup-button-size);
    height: var(--popup-button-size);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--popup-row-color); /* Provide 2px space between buttons to accommodate focus-ring border */
    opacity: .7;
}

li:hover button:not(:focus) {
    border-color: var(--popup-hover-row-color);
}

body[data-mode="edit"] li button {
    background-color: transparent;
    opacity: .1;
}

li.reopenTabs button.tabAction:is(:hover, :focus) {
    background-color: var(--popup-private-button-color);
}

.send  { background-image: url("../icons/send.svg"); }
.bring { background-image: url("../icons/bring.svg"); }

.tabAction[disabled] {
    visibility: hidden;
}


/* --- Toolbar --- */

footer {
    display: flex;
    height: var(--popup-row-height);
}

#status {
    align-self: center;
    flex-grow: 1;
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--muted-text-color);
}

kbd {
    font-size: .9rem;
}

footer button {
    flex-basis: var(--popup-row-height);
    flex-shrink: 0;
    border: 2px solid transparent;
    text-align: center;
}

/* Button in the bottom right corner of the popup */
footer button:last-child {
    border-bottom-right-radius: var(--border-radius);
}

#help::before {
    content: "?";
    display: inline-block;
    height: 17px;
    width: 17px;
    color: var(--muted-text-color);
    border: 1px solid var(--muted-text-color);
    border-radius: 50%;
    line-height: 1.3;
    font-weight: 900;
}

#restart {
    background-color: var(--popup-hover-button-color);
    color: var(--text-color);
    white-space: nowrap;
    border-top-right-radius: var(--border-radius);
}


/* --- Utilities --- */

[hidden] { display: none; } /* Must set explicitly because `display: x` overrides `hidden` behaviour */
