/* * { outline: 1px solid red; } */
:root {
    --tabcount-width: 2rem;
    --button-width: 30px;
    --popup-width: calc(20rem + var(--tabcount-width) + var(--button-width) * 2);
    --row-height: 34px;
    --max-list-height: calc(30rem + 4px); /* Slightly more to accommodate y-padding */
    --name-height: 28px;
    --border-radius: 6px;

    --text-color: #000;
    --muted-text-color: #333;
    --private-text-color: purple;

    --row-color: #eee;
    --focused-row-color: #ddd;

    --field-color: #fff;
    --slash-field-color: #ff6;

    --button-color: transparent;
    --focused-button-color: #bbb;
    --private-button-color: darkorchid;
    --editdone-button-color: lightgreen;

    --border-color: #ccc;
    --focus-outline-color: #4a90d9;
    --error-outline-color: red;
}

.dark {
    --text-color: #fff;
    --muted-text-color: #ccc;
    --private-text-color: magenta;

    --row-color: #42414d;
    --focused-row-color: #52525e;

    --field-color: #223;
    --slash-field-color: #223;
    --slash-input-theme-color: gold;

    --focused-button-color: #666;

    --border-color: #333;
    --focus-outline-color: #0df;
}


/* --- Container --- */

body {
    width: var(--popup-width);
    background-color: var(--row-color);
    overflow: hidden;
    scrollbar-width: none;
}

ul {
    margin: 0;
    padding: 0;
}

#currentWindow,
#otherWindows {
    padding: 2px 1px 2px 2px; /* Space to accommodate outlines */
}

#otherWindows {
    max-height: var(--max-list-height);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;

    /* Scroll shadows */
    background:
        linear-gradient(var(--row-color) 30%, transparent),
        linear-gradient(transparent, var(--row-color) 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), transparent),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), transparent) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 14px, 100% 14px, 100% 7px, 100% 7px;
}


/* --- Row --- */

li {
    display: flex;
    align-items: center;
    position: relative;
    height: var(--row-height);
    width: auto;
    scroll-snap-align: center;
    list-style: none;
}

li > * {
    flex: 0 0 auto;
}

.tabCount {
    width: var(--tabcount-width);
    margin: 0 .8rem;
    color: var(--muted-text-color);
    text-align: end;
}

body[data-mode="normal"] #otherWindows li:is(:hover, :focus) {
    background-color: var(--focused-row-color);
}


/* --- Input field --- */

input {
    border: 1px solid var(--border-color);
    padding: 0 6px;
    text-align: start;
    background-color: var(--field-color);
    color: var(--text-color);
}

input:read-only {
    cursor: default;
}

.name {
    height: var(--name-height);
    flex-grow: 1;
    border-radius: var(--border-radius);
    margin-left: .25rem;
}

body[data-mode="normal"] .name,
body[data-mode="edit"] .name:not(:focus) {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
    outline: none;
    user-select: none;
}

body[data-mode="normal"] .name::placeholder {
    opacity: 1;
}

body[data-mode="normal"] .name::selection {
    background-color: transparent;
}

body[data-mode="normal"] #currentWindow .name {
    font-weight: bold;
}

body[data-mode="normal"] #currentWindow .name:hover {
    background-color: var(--focused-row-color);
    cursor: pointer;
}

body[data-mode="normal"] #otherWindows .name {
    outline: none;
}

input:focus,
button:focus,
#currentWindow .name:focus,
body[data-mode="normal"] #otherWindows li:focus {
    outline: 2px solid var(--focus-outline-color);
}

.private .name {
    color: var(--private-text-color);
}

.nameError {
    outline: 2px solid var(--error-outline-color) !important;
}


/* --- Omnibox --- */

#omniboxWrapper {
    position: relative;
    z-index: 1; /* Keep omnibox outline from being covered by other elements e.g. buttons */
    padding: 0 1px 0 2px; /* Space to accommodate outline */
}

#omnibox {
    height: var(--row-height);
    width: 100%;
}

#omnibox:disabled {
    background-color: var(--focused-row-color);
}

.slashCommand {
    background-color: var(--slash-field-color);
}

.dark .slashCommand {
    color: var(--slash-input-theme-color);
    outline-color: var(--slash-input-theme-color);
}

.dark .slashCommand::selection {
    background-color: var(--slash-input-theme-color);
    color: var(--field-color);
}


/* --- Button --- */

li button {
    width: var(--button-width);
    height: var(--button-width);
    margin: 1px;
    opacity: .7;
    background-color: var(--button-color);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: var(--border-radius);
}

li button:not(:disabled):is(:hover, :focus) {
    opacity: 1;
    background-color: var(--focused-button-color);
}

li.reopenTabs button.tabAction {
    background-color: var(--private-button-color);
}

.send {
    background-image: url("../icons/send.svg");
}

.bring {
    background-image: url("../icons/bring.svg");
}

body[data-mode="edit"] li button {
    background-color: transparent;
    opacity: .1;
}

#currentWindow .tabAction {
    visibility: hidden;
}


/* --- Status bar --- */

#status {
    border: .25rem solid transparent;
    color: var(--muted-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


/* --- Toolbar --- */

footer {
    display: flex;
}

footer button {
    height: var(--row-height);
    flex: 1 1 auto;
    border: none;
    text-align: center;
}

footer img {
    vertical-align: bottom;
}

#help {
    color: white;
    background-color: #3a3;
}
#help:not(:disabled):is(:hover, :focus) {
    background-color: #4b4;
}

#settings {
    color: white;
    background-color: #06f;
}
#settings:not(:disabled):is(:hover, :focus) {
    background-color: #28f;
}

#restart {
    color: white;
    background-color: #e20;
}
#restart:not(:disabled):is(:hover, :focus) {
    background-color: #f30;
}


/* --- Utilities --- */

[hidden] { display: none; } /* Must set explicitly because `display: x` overrides `hidden` behaviour */
