/* * { outline: 1px solid red; } */
:root {
    --width-body: 220px;
    --width-btn: 30px;
    --width-input: 160px;
    --width-tabcount: 20px;
    --height-row: 36px;
    --bgc-base: #eee;
    --bgc-base-focus: #ddd;
    --bgc-rowbtn: #d0d0d0;
    --bgc-rowbtn-focus: #bbb;
    --fgc-muted: #555;
    --borderc-base: #ccc;
    --borderc-focus: #4a90d9;
    --borderc-error: red;
    --bgc-slashinput: #ff6;
    --bgc-editdone: lightgreen;
    --bgc-private: darkorchid;
    --fgc-private: purple;
}




/* --- Container --- */

body {
    width: var(--width-body);
    overflow: hidden;
    background-color: var(--bgc-base);
}

ul {
    margin: 0;
    padding: 0;
}

#otherWindows {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    /* Scroll shadows */
    background:
        linear-gradient(var(--bgc-base) 30%, transparent),
        linear-gradient(transparent, var(--bgc-base) 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), transparent),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), transparent) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 14px, 100% 14px, 100% 7px, 100% 7px;
}




/* --- Row --- */

input {
    height: var(--height-row);
}

li {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid var(--borderc-base);
}

li > * {
    flex: 0 0 auto;
}

.tabCount {
    width: var(--width-tabcount);
    margin: 0 .8rem;
    color: var(--fgc-muted);
    text-align: end;
    font-size: small;
}

body:not([data-mode="edit"]) .otherRow:hover,
body:not([data-mode="edit"]) .otherRow:focus {
    background-color: var(--bgc-base-focus);
}




/* --- Input field --- */

input {
    border: 1px solid var(--borderc-base);
    padding: 0 6px;
    text-align: start;
}

input:focus {
    border: 2px solid var(--borderc-focus);
}

.input {
    width: var(--width-input);
    margin-left: .25rem;
}

input:disabled::placeholder,
input:-moz-read-only::placeholder {
    opacity: 1;
}

.input:-moz-read-only {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

.currentRow:not(.editModeRow) .input {
    font-weight: bold;
}

.inputError {
    border-color: var(--borderc-error) !important;
}

.private .input {
    color: var(--fgc-private);
}

.slashCommand {
    background-color: var(--bgc-slashinput);
    border: none;
}




/* --- Button --- */

li button {
    width: var(--width-btn);
    height: var(--width-btn);
    opacity: .7;
    background-color: var(--bgc-rowbtn);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
}

li button:hover,
li button:focus {
    opacity: 1;
    background-color: var(--bgc-rowbtn-focus);
}

.send {
    background-image: url("../icons/send.svg");
}

.bring {
    background-image: url("../icons/bring.svg");
}

.edit {
    background-image: url("../icons/edit.svg");
    background-size: 60%;
}

.editModeRow .edit {
    background-image: url("../icons/check.svg");
    background-color: var(--bgc-editdone);
}

body[data-mode="edit"] li button:not(.edit) {
    background-color: transparent;
    opacity: .25;
}

.currentRow .tabAction {
    visibility: hidden;
}

.reopenTabs .tabAction {
    background-color: var(--bgc-private);
}




/* --- Status bar --- */

#status {
    border: .25rem solid transparent;
    color: var(--fgc-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body[data-mode="edit"] #status {
    font-style: italic;
}

.defaultStatus {
    text-align: center;
}




/* --- Toolbar --- */

footer {
    display: flex;
}

footer button {
    height: var(--height-row);
    flex: 1 1 auto;
    border: none;
    text-align: center;
}

footer img {
    vertical-align: bottom;
}

#help {
    color: white;
    background-color: #3a3;
}

#help:hover,
#help:focus {
    background-color: #4b4;
}

#settings {
    color: white;
    background-color: #06f;
}

#settings:hover,
#settings:focus{
    background-color: #28f;
}




/* --- Utilities --- */

[hidden] { display: none; } /* Must set explicitly because `display: x` overrides `hidden` behaviour */
