:root {
    --width-body-rem: 21;
    --width-btn-rem: 2;
    --height-row-rem: 2.5;
    --width-body: calc(var(--width-body-rem) * 1rem);
    --width-btn: calc(var(--width-btn-rem) * 1rem);
    --height-row: calc(var(--height-row-rem) * 1rem);
    --bgc-base: #eee;
    --bgc-base-focus: #ddd;
    --bgc-rowbtn: #d0d0d0;
    --bgc-rowbtn-focus: #bbb;
    --fgc-muted: #555;
    --borderc-base: #ccc;
    --borderc-error: red;
    --bgc-private: darkorchid;
    --fgc-private: purple;
}




/* --- Container --- */

body {
    width: var(--width-body);
    overflow: hidden;
    background-color: var(--bgc-base);
}

ul {
    margin: 0;
    padding: 0;
}

#otherWindows {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;

    /* Scroll shadows */
    background:
        linear-gradient(var(--bgc-base) 30%, transparent),
        linear-gradient(transparent, var(--bgc-base) 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), transparent),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), transparent) 0 100%;
    background-color: var(--bgc-base);
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 14px, 100% 14px, 100% 7px, 100% 7px;
}




/* --- Row --- */

li {
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid var(--borderc-base);
}

input, .tabCount {
    height: var(--height-row);
}

.nameColumn {
    flex: 1 1 auto;
}

.tabCount {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 3rem;
    padding: 0 .8rem;
    color: var(--fgc-muted);
    font-size: small;
}

#editMode:not(:checked) ~ ul > .otherRow:hover,
#editMode:not(:checked) ~ ul > .otherRow:focus,
#editMode:not(:checked) ~ ul > .otherRow:focus-within {
    background-color:var(--bgc-base-focus);
}




/* --- Input field --- */

.input {
    width: 100%;
    padding: 0 .5rem;
    text-align: start;
}

input:disabled::placeholder,
input:-moz-read-only::placeholder {
    opacity: 1;
}

.input:-moz-read-only {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

.currentRow:not(.editModeRow) .input {
    font-weight: bold;
}

.inputError {
    border-color: var(--borderc-error);
}

.private .input {
    color: var(--fgc-private);
}




/* --- Button --- */

li button {
    flex: 0 0 auto;
    width: var(--width-btn);
    height: var(--width-btn);
    opacity: .75;
    background-color: var(--bgc-rowbtn);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
}

button:hover,
button:focus {
    opacity: 1;
    background-color: var(--bgc-rowbtn-focus);
}

.send {
    background-image: url("../icons/send.svg");
}

.bring {
    background-image: url("../icons/bring.svg");
}

.edit {
    background-image: url("../icons/edit.svg");
    background-size: 70%;
}

.editModeRow .edit {
    background-image: url("../icons/check.svg");
}

#editMode:checked ~ ul button:not(.edit) {
    background-color: transparent;
    opacity: .25;
}

.currentRow .tabAction {
    visibility: hidden;
}

.reopenTabs .tabAction {
    background-color: var(--bgc-private);
}




/* --- Status bar --- */

#status {
    padding: .25rem .5rem;
    color: var(--fgc-muted);
}

.defaultStatus {
    text-align: center;
}




/* --- Footer --- */

footer {
    display: flex;
}

footer button {
    flex: 1 1 auto;
    height: var(--height-row);
    border: none;
    text-align: center;
}

#help {
    color: white;
    background-color: #3a3;
}

#settings {
    color: white;
    background-color: #06f;
}




/* --- Utilities --- */

[hidden] { display: none; } /* Must set explicitly because `display: x` overrides `hidden` behaviour */
