body {
    width: 24rem;
    background-color: #eee;
}

ul {
    margin: 0;
    padding: 0;
}

#otherWindows {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}


/* --- Row --- */

li {
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #ccc;

}

input, .tabCount {
    height: 2.5rem;
}

.nameColumn {
    flex: 1 1 auto;
}

.tabCount {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 3rem;
    padding: 0 .8rem;
}


/* --- Input field --- */

input:disabled::placeholder,
input:-moz-read-only::placeholder {
    opacity: 1;
}

.nameInput {
    padding: 0 .5rem;
    min-width: 100%;
}

.nameInput:-moz-read-only {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

.current .nameInput,
.current .nameInput::placeholder {
    width: 100%;
    font-weight: bold;
}

.other .nameInput {
    width: 100%;
}

.inputError {
    border-color: red;
}


/* --- Button --- */

button {
    width: 2.2rem;
    height: 2.2rem;
    background-color: #ddd;
    border-color: transparent;
    text-align: center;
    border-radius: 50%;
}

button:hover,
button:active {
    background-color: #ccc;
}

.editBtn:before {
    content: "✏️";
}

.btnGroup {
    display: flex;
}

.tabActions > button {
    margin-left: .2rem;
}

.windowActions > button {
    margin-right: .2rem;
}


/* --- Edit Mode --- */

.editModeRow .editBtn:before {
    content: "✔️";
}

#editMode:not(:checked) ~ ul .other:hover {
    background-color: #e6e6e6;
}

#editMode:checked ~ ul button:not(.editBtn) {
    background-color: transparent;
    opacity: .5;
}


/* --- Footer --- */

#status {
    padding: .25rem .5rem;
    text-align: center;
}

footer {
    display: flex;
}

footer button {
    flex: 1 1 auto;
    border-radius: 0;
}

#help {
    color: white;
    background-color: #3a3;
}

#options {
    color: white;
    background-color: #06f;
}


/* --- Utilities --- */

/* Must set explicitly because `display: x` overrides `hidden` behaviour */
[hidden] { display: none; }

.small {
    color: #666;
    font-size: small;
}