/* * { outline: 1px solid red; } */
:root {
    --popup-width: 250px;
    --row-height: 36px;
    --input-height: 30px;
    --tabcount-width: 20px;
    --button-width: 30px;
    --max-list-height: calc(30rem + 4px); /* Slightly more to accommodate y-padding */
    --input-border-radius: 6px;

    --text-color: #000;
    --muted-text-color: #333;
    --private-text-color: purple;

    --row-color: #eee;
    --focused-row-color: #ddd;

    --input-color: #fff;
    --slash-input-color: #ff6;

    --button-color: #d0d0d0;
    --focused-button-color: #bbb;
    --private-button-color: darkorchid;
    --editdone-button-color: lightgreen;

    --border-color: #ccc;
    --focus-outline-color: #4a90d9;
    --error-outline-color: red;
}

.dark {
    --text-color: #fff;
    --muted-text-color: #ccc;
    --private-text-color: magenta;

    --row-color: #42414d;
    --focused-row-color: #52525e;

    --input-color: #223;
    --slash-input-color: #223;
    --slash-input-theme-color: gold;

    --button-color: #50505c;
    --focused-button-color: #666;

    --border-color: #333;
    --focus-outline-color: #0df;
}


/* --- Container --- */

body {
    width: var(--popup-width);
    background-color: var(--row-color);
}

ul {
    margin: 0;
    padding: 0;
}

#currentWindow,
#otherWindows {
    padding: 2px 1px 2px 2px; /* Space to accommodate outlines */
}

#otherWindows {
    max-height: var(--max-list-height);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;

    /* Scroll shadows */
    background:
        linear-gradient(var(--row-color) 30%, transparent),
        linear-gradient(transparent, var(--row-color) 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), transparent),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), transparent) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 14px, 100% 14px, 100% 7px, 100% 7px;
}


/* --- Row --- */

li {
    height: var(--row-height);
    width: auto;
    display: flex;
    align-items: center;
    scroll-snap-align: center;
    list-style: none;
}

li > * {
    flex: 0 0 auto;
}

.tabCount {
    width: var(--tabcount-width);
    margin: 0 .8rem;
    color: var(--muted-text-color);
    text-align: end;
    font-size: small;
}

body:not(.editMode) .otherRow:is(:hover, :focus) {
    background-color: var(--focused-row-color);
}


/* --- Input field --- */

input {
    border: 1px solid var(--border-color);
    padding: 0 6px;
    text-align: start;
    background-color: var(--input-color);
    color: var(--text-color);
}

.input {
    height: var(--input-height);
    flex-grow: 1;
    border-radius: var(--input-border-radius);
    margin-left: .25rem;
}

input:disabled::placeholder,
input:-moz-read-only::placeholder {
    opacity: 1;
}

.input:-moz-read-only {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

.currentRow:not(.editModeRow) .input {
    font-weight: bold;
}

.currentRow:not(.editModeRow) .input:is(:hover, :focus) {
    background-color: var(--focused-row-color);
    cursor: pointer;
}

.private .input {
    color: var(--private-text-color);
}

input:focus,
button:focus,
body:not(.editMode) .otherRow:focus {
    outline: 2px solid var(--focus-outline-color);
}

body:not(.editMode) .input::selection {
    background-color: transparent;
}

.inputError {
    outline: 2px solid var(--error-outline-color) !important;
}


/* --- Omnibox --- */

#omniboxWrapper {
    position: relative;
    z-index: 1; /* Keep omnibox outline from being covered by other elements e.g. buttons */
    padding: 0 1px 0 2px; /* Space to accommodate outline */
}

#omnibox {
    height: var(--row-height);
    width: 100%;
}

#omnibox:disabled {
    background-color: var(--focused-row-color);
}

.slashCommand {
    background-color: var(--slash-input-color);
}

.dark .slashCommand {
    color: var(--slash-input-theme-color);
    outline-color: var(--slash-input-theme-color);
}

.dark .slashCommand::selection {
    background-color: var(--slash-input-theme-color);
    color: var(--input-color);
}


/* --- Button --- */

li button {
    width: var(--button-width);
    height: var(--button-width);
    margin: 1px;
    opacity: .7;
    background-color: var(--button-color);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
}

li button:not(:disabled):is(:hover, :focus) {
    opacity: 1;
    background-color: var(--focused-button-color);
}

li.reopenTabs button.tabAction {
    background-color: var(--private-button-color);
}

.send {
    background-image: url("../icons/send.svg");
}

.bring {
    background-image: url("../icons/bring.svg");
}

body.editMode li button {
    background-color: transparent;
    opacity: .25;
}

.currentRow .tabAction {
    visibility: hidden;
}


/* --- Status bar --- */

#status {
    width: var(--body-width);
    border: .25rem solid transparent;
    color: var(--muted-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.editMode #status {
    font-style: italic;
}

.defaultStatus {
    text-align: center;
}


/* --- Toolbar --- */

footer {
    display: flex;
}

footer button {
    height: var(--row-height);
    flex: 1 1 auto;
    border: none;
    text-align: center;
}

footer img {
    vertical-align: bottom;
}

#help {
    color: white;
    background-color: #3a3;
}
#help:not(:disabled):is(:hover, :focus) {
    background-color: #4b4;
}

#settings {
    color: white;
    background-color: #06f;
}
#settings:not(:disabled):is(:hover, :focus) {
    background-color: #28f;
}

#restart {
    color: white;
    background-color: #e20;
}
#restart:not(:disabled):is(:hover, :focus) {
    background-color: #f30;
}


/* --- Utilities --- */

[hidden] { display: none; } /* Must set explicitly because `display: x` overrides `hidden` behaviour */
